<section class="asset-section asset-section--colors">
    <ul class="assets stack">
        <li class="asset stack asset--divided">
            <h4 class="asset__title">Primary Colors</h4>
            <ul class="asset__color-wrapper">
                {% include _components/color-block.html style="button" color="neutral-100" name="Concrete Jungle" hex="#2F2F2E" %}
                {% include _components/color-block.html style="button" color="green-400" name="Prickly Pear" hex="#23B280" %}
                {% include _components/color-block.html style="button" color="neutral-800" name="Starr White" hex="#FFFFFF" %}
                {% include _components/color-block.html style="button" color="neutral-400" name="NY Slate of Mind" hex="#7D7D7D" %}
            </ul>
        </li>

        <li class="asset stack asset--divided">
            <h4 class="asset__title">Secondary Colors</h4>
            <ul class="asset__color-wrapper">
                {% include _components/color-block.html style="button" color="green-100" name="Evergreen" hex="#1E5749" %}
                {% include _components/color-block.html style="button" color="blue-400" name="Brainstorm" hex="#37A7AA" %}
                {% include _components/color-block.html style="button" color="yellow-400" name="Dipped in Queso" hex="#FCD404" %}
                {% include _components/color-block.html style="button" color="pink-400" name="Red Rocks" hex="#D75A6A" %}
            </ul>
        </li>

        <li class="asset stack asset--divided">
            <div class="asset__title-wrapper">
                <h4 class="asset__title">Extended Palette</h4>
                <p>
                    Use these colors for illustration and data visualization when more than two shades of green are
                    needed.
                </p>
            </div>
            <ul class="asset__color-wrapper">
                {% include _components/color-block.html style="button" size="small" color="green-800" name="Extended 01" hex="#D5EDD9" %}
                {% include _components/color-block.html style="button" size="small" color="green-700" name="Extended 02" hex="#BBEDC6" %}
                {% include _components/color-block.html style="button" size="small" color="green-600" name="Extended 03" hex="#88DBA8" %}
                {% include _components/color-block.html style="button" size="small" color="green-500" name="Extended 04" hex="#57D096" %}
                {% include _components/color-block.html style="button" size="small" color="green-400" name="Prickly Pear" hex="#23B280" %}
                {% include _components/color-block.html style="button" size="small" color="green-300" name="Extended 05" hex="#299A77" %}
                {% include _components/color-block.html style="button" size="small" color="green-200" name="Extended 06" hex="#268268" %}
                {% include _components/color-block.html style="button" size="small" color="green-100" name="Evergreen" hex="#1E5749" %}

            </ul>
        </li>

    </ul>
</section>