<section class="asset-section asset-section--colors">
    <ul class="assets">
        <li class="asset">
            <div class="asset__title-wrapper">
                <h4 class="asset__title">Primary Palette</h4>
                <p>
                    {{page.primary-description}}
                </p>
            </div>
            <ul class="color-block__grid">
                <li>
                    {% include _components/color-block.html style="button" color="neutral-500" name="Concrete Jungle" hex="#2F2F2E" %}
                </li>
                <li>
                    {% include _components/color-block.html style="button" color="green-500" name="Prickly Pear" hex="#23B280" %}
                </li>
                <li>
                    {% include _components/color-block.html style="button" color="neutral-000" name="Starr White" hex="#FFFFFF" %}
                </li>
            </ul>
        </li>

        <li class="asset ">
            <div class="asset__title-wrapper">
                <h4 class="asset__title">Neutral Palette</h4>
                <p>
                    {{page.neutral-description}}
                </p>
            </div>
            <ul class="color-block__grid">
                <li>
                    {% include _components/color-block.html style="button" size="small" color="neutral-500" name="Neutral-500 (Concrete Jungle)" hex="#2F2F2E" %}
                </li>
                <li>
                    {% include _components/color-block.html style="button" size="small" color="neutral-400" name="Neutral-400 (NY Slate of Mind)" hex="#757575" %}
                </li>
                <li>
                    {% include _components/color-block.html style="button" size="small" color="neutral-300" name="Neutral-300" hex="#AFAFAF" %}
                </li>
                <li>
                    {% include _components/color-block.html style="button" size="small" color="neutral-200" name="Neutral-200" hex="#E2E2E2" %}
                </li>
                <li>
                    {% include _components/color-block.html style="button" size="small" color="neutral-100" name="Neutral-100" hex="#F7F7F7" %}
                </li>
                <li>
                    {% include _components/color-block.html style="button" size="small" color="neutral-000" name="Neutral-000 (Starr White)" hex="#FFFFFF" %}
                </li>

            </ul>
        </li>

        <li class="asset ">
            <div class="asset__title-wrapper">
                <h4 class="asset__title">Extended Palette</h4>
                <p>
                    {{page.extended-description}}
                </p>
            </div>
            <ul class="color-block__grid">
                <li>
                    {% include _components/color-block.html style="button" size="small" color="green-800" name="Green-800 (Evergreen)" hex="#1E5749" %}
                </li>
                <li>
                    {% include _components/color-block.html style="button" size="small" color="green-700" name="Green-700" hex="#268268" %}
                </li>
                <li>
                    {% include _components/color-block.html style="button" size="small" color="green-600" name="Green-600" hex="#299A77" %}
                </li>
                <li>
                    {% include _components/color-block.html style="button" size="small" color="green-500" name="Green-500 (Prickly Pear)" hex="#23B280" %}
                </li>
                <li>
                    {% include _components/color-block.html style="button" size="small" color="green-400" name="Green-400" hex="#57D096" %}
                </li>
                <li>
                    {% include _components/color-block.html style="button" size="small" color="green-300" name="Green-300" hex="#88DBA8" %}
                </li>
                <li>
                    {% include _components/color-block.html style="button" size="small" color="green-200" name="Green-200" hex="#BBEDC6" %}
                </li>
                <li>
                    {% include _components/color-block.html style="button" size="small" color="green-100" name="Green-100" hex="#D5EDD9" %}
                </li>

            </ul>
        </li>

        <li class="asset ">
            <div class="asset__title-wrapper">
                <h4 class="asset__title">Auxiliary Palette</h4>
                <p>
                    {{page.auxiliary-description}}
                </p>
            </div>
            <ul class="color-block__grid">
                <li>
                    {% include _components/color-block.html style="button" size="tiny" color="blue-500" name="Blue-500 (Brainstorm Blue)" hex="#37A7AA" %}
                </li>
                <li>
                    {% include _components/color-block.html style="button" size="tiny" color="blue-100" name="Blue-100" hex="#EFFBFA" %}
                </li>

                <li>
                    {% include _components/color-block.html style="button" size="tiny" color="yellow-500" name="Yellow-500 (Dipped in Queso)" hex="#FCD404" %}
                </li>
                <li>
                    {% include _components/color-block.html style="button" size="tiny" color="yellow-100" name="Yellow-100" hex="#FFFBDB" %}
                </li>

                <li>
                    {% include _components/color-block.html style="button" size="tiny" color="pink-500" name="Pink-500 (Red Rocks)" hex="#D75A6A" %}
                </li>
                <li>
                    {% include _components/color-block.html style="button" size="tiny" color="pink-100" name="Pink-100" hex="#F8E2E8" %}
                </li>

            </ul>
        </li>

    </ul>
</section>