<section class="asset-section asset-section--colors">
    <ul class="assets stack">
        <li class="asset stack asset--divided">
            <h4 class="asset__title">Primary Colors</h4>
            <ul class="asset__color-wrapper">
                {% include _components/color-block.html style="button" color="neutral-18" name="Concrete Jungle" hex="#2F2F2E" %}
                {% include _components/color-block.html style="button" color="green-42" name="Prickly Pear" hex="#23B280" %}
                {% include _components/color-block.html style="button" color="neutral-100" name="Starr White" hex="#FFFFFF" %}
                {% include _components/color-block.html style="button" color="neutral-49" name="NY Slate of Mind" hex="#7D7D7D" %}
            </ul>
        </li>

        <li class="asset stack asset--divided">
            <h4 class="asset__title">Secondary Colors</h4>
            <ul class="asset__color-wrapper">
                {% include _components/color-block.html style="button" color="green-29" name="Evergreen" hex="#1E5749" %}
                {% include _components/color-block.html style="button" color="blue" name="Brainstorm" hex="#37A7AA" %}
                {% include _components/color-block.html style="button" color="yellow" name="Dipped in Queso" hex="#FCD404" %}
                {% include _components/color-block.html style="button" color="pink" name="Red Rocks" hex="#D75A6A" %}
            </ul>
        </li>

        <li class="asset stack asset--divided">
            <h4 class="asset__title">Extended Palette</h4>
            <ul class="asset__color-wrapper">
                {% include _components/color-block.html style="button" size="small" color="green-79" name="Extended 01" hex="#D5EDD9" %}
                {% include _components/color-block.html style="button" size="small" color="green-64" name="Extended 02" hex="#BBEDC6" %}
                {% include _components/color-block.html style="button" size="small" color="green-58" name="Extended 03" hex="#88DBA8" %}
                {% include _components/color-block.html style="button" size="small" color="green-50" name="Extended 04" hex="#57D096" %}
                {% include _components/color-block.html style="button" size="small" color="green-42" name="Prickly Pear" hex="#23B280" %}
                {% include _components/color-block.html style="button" size="small" color="green-34" name="Extended 05" hex="#299A77" %}
                {% include _components/color-block.html style="button" size="small" color="green-26" name="Extended 06" hex="#268268" %}
                {% include _components/color-block.html style="button" size="small" color="green-29" name="Evergreen" hex="#1E5749" %}

            </ul>
        </li>

    </ul>
</section>