<section class="asset-section asset-section--logos">
    <ul class="assets stack">
        <li class="asset stack asset--divided">
            <h4 class="asset__title">Primary Logo</h4>
            <div class="asset__logo-wrapper">
                <img class="asset__logo" src="/assets/logos/INK-logo-primary.svg"
                    alt="INK Communications Co. secondary logo">
                <div class="asset__logo-button-wrapper">
                    <div class="asset__logo-buttons stack">
                        <h5 class="asset__logo-title">Grey</h5>
                        <a download href="/assets/logos/INK-logo-primary.png" class="button dark">Save as .png</a>
                        <a download href="/assets/logos/INK-logo-primary.svg" class="button dark">Save as .svg</a>
                    </div>
                    <div class="asset__logo-buttons stack">
                        <h5 class="asset__logo-title">White</h5>
                        <a download href="/assets/logos/INK-logo-primary-white.png" class="button light">Save as
                            .png</a>
                        <a download href="/assets/logos/INK-logo-primary-white.svg" class="button light">Save as
                            .svg</a>
                    </div>
                </div>
            </div>
        </li>

        <li class="asset stack asset--divided">
            <h4 class="asset__title">Secondary Logo</h4>
            <div class="asset__logo-wrapper">
                <img class="asset__logo" src="/assets/logos/INK-logo-secondary.svg"
                    alt="INK Communications Co. secondary logo">
                <div class="asset__logo-button-wrapper">
                    <div class="asset__logo-buttons stack">
                        <h5 class="asset__logo-title">Grey</h5>
                        <a download href="/assets/logos/INK-logo-secondary.png" class="button dark">Save as .png</a>
                        <a download href="/assets/logos/INK-logo-secondary.svg" class="button dark">Save as .svg</a>
                    </div>
                    <div class="asset__logo-buttons stack">
                        <h5 class="asset__logo-title">White</h5>
                        <a download href="/assets/logos/INK-logo-secondary-white.png" class="button light">Save as
                            .png</a>
                        <a download href="/assets/logos/INK-logo-secondary-white.svg" class="button light">Save as
                            .svg</a>
                    </div>
                </div>
            </div>
        </li>

        <li class="asset stack asset--divided">
            <h4 class="asset__title">Primary Logo (Only Letters)</h4>
            <div class="asset__logo-wrapper">
                <img class="asset__logo" src="/assets/logos/INK-logo-primary-only-letters.svg"
                    alt="INK Communications Co. primary logo only letters">
                <div class="asset__logo-button-wrapper">
                    <div class="asset__logo-buttons stack">
                        <h5 class="asset__logo-title">Grey</h5>
                        <a download href="/assets/logos/INK-logo-primary-only-letters.png" class="button dark">Save as
                            .png</a>
                        <a download href="/assets/logos/INK-logo-primary-only-letters.svg" class="button dark">Save as
                            .svg</a>
                    </div>
                    <div class="asset__logo-buttons stack">
                        <h5 class="asset__logo-title">White</h5>
                        <a download href="/assets/logos/INK-logo-primary-only-letters-white.png"
                            class="button light">Save as
                            .png</a>
                        <a download href="/assets/logos/INK-logo-primary-only-letters-white.svg"
                            class="button light">Save as
                            .svg</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>