<section class="asset-section asset-section--patterns">
    <ul class="assets">
        <li class="asset">
            <ul class="asset__pattern-wrapper">
                <li class="asset__pattern">
                    {% include _components/pattern-block.html type="white" color="neutral-000" description="Can be used to bring visual interest to a white background. Only use this pattern in compositions with minimal copy, and ensure the font size is large enough to contrast from the pattern."%}
                </li>
                <li class="asset__pattern">
                    {% include _components/pattern-block.html type="grey" color="neutral-500" description="A dark variation of the light pattern; the same usage guidelines apply. Copy that sits on top of this pattern should be set in white." %}
                </li>
                <li class="asset__pattern">
                    {% include _components/pattern-block.html type="green" color="green-500" description="Can be used as a background accent element to bring a hint of green into the composition. Text over this pattern should always be contained in a white box, as shown below."%}
                </li>
            </ul>
        </li>
        <li class="asset">
            <h4 class="asset__title">Pattern Usage Guidelines</h4>
            <ul class="asset__example-wrapper">

                {% for example in page.examples %}

                {% include _components/example.html type=example.is-good explanation=example.explanation image=example.image %}

                {% endfor %}
            </ul>
        </li>
    </ul>
</section>