<section class="asset-section asset-section--patterns">
    <ul class="assets">
        <li class="asset ">
            <ul class="asset__pattern-wrapper">
                {% include _components/color-block.html pattern="pattern" color="neutral-800" description="Can be used to bring visual interest to a white background. Only use this pattern in compositions with minimal copy and ensure the font size is large enough to contrast from the pattern."%}
                {% include _components/color-block.html pattern="pattern" color="neutral-100" description="A dark variation of the light pattern; the same usage guidelines apply. Copy that sits on top of this pattern should be set in Starr White." %}
                {% include _components/color-block.html pattern="pattern" color="green-400" description="Can be used as a background accent element to bring a hint of Prickly Pear into the composition. Text over this pattern should always be contained in a white box, as shown below."%}
            </ul>
        </li>
        <li class="asset ">
            <h4 class="asset__title">Usage Examples</h4>
            <ul class="asset__example-wrapper">

                {% for example in page.examples %}

                {% capture explanation %}
                {{example.explanation}}
                {% endcapture %}

                {% capture image %}
                {{example.image}}
                {% endcapture %}

                {% capture type %}
                {{example.good-bad}}
                {% endcapture %}

                <!-- {% include _components/example.html type=good-bad explanation=explanation image=image %} -->


                <li class="example">
                    <div class="example__aspect-ratio">
                        <div class="example__image" style="background-image: url({{image}})"></div>
                    </div>
                    <div class="example__explanation-wrapper">


                        {% if example.good-bad == "good" %}
                        <svg class="example__icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="12" cy="12" r="12" fill="#D5EDD9" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M17.6603 9.22324L10.4076 16.5619L6.3396 12.4456L7.76212 11.0398L10.4076 13.7166L16.2378 7.81738L17.6603 9.22324Z"
                                fill="#23B280" />
                        </svg>
                        {% else if example.good-bad == "bad" %}
                        <svg class="example__icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="12" cy="12" r="12" fill="#F8E2E8" />
                            <path
                                d="M10.5857 12.0001L7.29285 15.293L8.70706 16.7072L12 13.4143L15.2928 16.7072L16.7071 15.293L13.4142 12.0001L16.7071 8.70718L15.2928 7.29297L12 10.5859L8.70706 7.29297L7.29285 8.70718L10.5857 12.0001Z"
                                fill="#D75A6A" />
                        </svg>


                        {% endif %}
                        <p class="example__description">
                            {{ explanation }}
                        </p>
                    </div>
                </li>

                {% endfor %}
            </ul>
        </li>
    </ul>
</section>