<section class="asset-section asset-section--patterns">
    <ul class="assets stack">
        <li class="asset stack asset--divided">
            <ul class="asset__pattern-wrapper">
                {% include _components/color-block.html size="large" pattern="pattern" color="neutral-100" description="Can be used to bring visual interest to a white background. Only use this pattern in compositions with minimal copy and ensure the font size is large enough to contrast from the pattern."%}
                {% include _components/color-block.html size="large" pattern="pattern" color="neutral-18" description="A dark variation of the light pattern; the same usage guidelines apply. Copy that sits on top of this pattern should be set in Starr White." %}
                {% include _components/color-block.html size="large" pattern="pattern" color="green-42" description="Can be used as a background accent element to bring a hint of Prickly Pear into the composition. Text over this pattern should always be contained in a white box, as shown below."%}
            </ul>
        </li>
        <li class="asset stack asset--divided">
            <h4 class="asset__title">Usage Examples</h4>
            <ul class="asset__example-wrapper">
                {% include _components/example.html type="good" description="Here the green pattern functions as a decorative border. A white box with ample padding is used to contain the text, ensuring it can be easily read." image="example_green-pattern.jpg" %}
                {% include _components/example.html type="good" description="Here the text overlaid on the pattern is large enough to provide enough contrast with the pattern." image="example_headline-on-pattern.jpg" %}
                {% include _components/example.html type="bad" description="Here the text overlaid on the pattern is <strong>not</strong> large enough to provide enough contrast with the pattern. A composition with this much text would be an inappropriate instance to use the pattern." image="example_copy-on-pattern.jpg" %}
                {% include _components/example.html type="good" description="Text must be set in Starr White when overlaid on the dark pattern to create enough contrast." image="example_dark-pattern.jpg" %}
            </ul>
        </li>
    </ul>
</section>