<section class="asset-section asset-section--colors">
    <ul class="assets">
        <li class="asset">
            <ul class="document-template__grid">
                <li>
                    {% include _components/document-template.html name="General Word Document Template" format="word" filename="INK_general-template_2020.docx" %}
                </li>   
                <li>
                    {% include _components/document-template.html name="INK Content Marketing Template" format="word" filename="INK_content-marketing-template.docx" %}
                </li>
                <li>
                    {% include _components/document-template.html name="Persona Guide" format="pdf" filename="INK_persona-guide_fillable.pdf" %}
                </li>
                <li>
                    {% include _components/document-template.html name="Smarter Objectives Template" format="pdf" filename="INK_smarter-objectives_Fillable.pdf" %}
                </li>
                <li>
                    {% include _components/document-template.html name="Analyst Briefing Checklist" format="pdf" filename="INK_analyst-briefing-presentation-checklist.pdf" %}
                </li>
            </ul>
        </li>
    </ul>
</section>
