<section class="asset-section asset-section--colors">
    <ul class="assets">
        <li class="asset">
            <ul class="document-template__grid">
                <li>
                    {% include _components/document-template.html name="Word Document Template" format="word" filename="" %}
                </li>
                <li>
                    {% include _components/document-template.html name="PowerPoint Deck Template" format="ppt" filename="" %}
                </li>
            </ul>
        </li>
    </ul>
</section>