<section class="asset-section asset-section--colors">
    <ul class="assets stack">
        <li class="asset stack asset--divided">
            <ul class="asset__type-wrapper stack">
                <li class="type-specimen__wrapper stack-nested">
                    <h6 class="type-specimen__name">League Gothic</h6>
                    <p class="type-specimen__display leaguegothic">Rethinking<br>What’s Possible</p>
                </li>

                <li class="type-specimen__wrapper stack-nested">
                    <h6 class="type-specimen__name">Brandon Text Bold</h6>
                    <p class="type-specimen__display eyebrow">Our Partnership</p>
                </li>

                <li class="type-specimen__wrapper stack-nested">
                    <h6 class="type-specimen__name">Brandon Text Bold</h6>
                    <p class="type-specimen__display bold">For more than 15 years, INK has helped B2B marketers move
                        beyond what’s predictable by rethinking what’s possible.</p>
                </li>

                <li class="type-specimen__wrapper stack-nested">
                    <h6 class="type-specimen__name">Brandon Text Regular</h6>
                    <p class="type-specimen__display">We’re a mix of left and right brain thinkers who thrive on
                        problem-solving and new ideas. We ask the right questions and we don’t wait on your call to get
                        things done. Our best work draws from the collective strength of our team to form integrated
                        communications programs.</p>
                </li>
            </ul>
        </li>


        <li class="asset stack asset--divided">
            <h4 class="asset__title">Typography Style Chart</h4>
            <table>
                <thead>
                    <tr>
                        <th>Type Style</th>
                        <th>Font Family</th>
                        <th>Relative Size</th>
                        <th>Line Height</th>
                        <th>Text Transform</th>
                        <th>Letter Spacing</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Base Body Type</td>
                        <td>Brandon Text</td>
                        <td>Set at a legible size</td>
                        <td>160%<br>(120% in Powerpoint)</td>
                        <td>Sentence case</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Heading 1</td>
                        <td>League Gothic</td>
                        <td>4-5x </td>
                        <td>90%<br>(80% in powerpoint)</td>
                        <td>Uppercase</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Heading 2</td>
                        <td>League Gothic</td>
                        <td>3-3.5x </td>
                        <td>90%<br>(80% in powerpoint)</td>
                        <td>Uppercase</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Heading 3</td>
                        <td>League Gothic</td>
                        <td>2-2.5x </td>
                        <td>90%<br>(80% in powerpoint)</td>
                        <td>Uppercase</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Heading 4</td>
                        <td>Brandon Text Bold</td>
                        <td>1x </td>
                        <td>160%<br>(120% in Powerpoint)</td>
                        <td>Sentence Case</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Eyebrow Heading</td>
                        <td>Brandon Text Bold</td>
                        <td>.7-.8 </td>
                        <td>130%<br>(120% in Powerpoint)</td>
                        <td>Uppercase</td>
                        <td>0.05em in digital<br>25 in print<br>0.7 in PowerPoint)</td>
                    </tr>
                    <tr>
                        <td>Small Copy</td>
                        <td>Brandon Text</td>
                        <td>.7-.8 </td>
                        <td>140% (120% in Powerpoint)</td>
                        <td>Sentence case</td>
                        <td>---</td>
                    </tr>
                </tbody>
            </table>
        </li>
    </ul>
</section>