<section class="asset-section asset-section--colors">
    <ul class="assets">
        <li class="asset">

            <div class="asset__title-wrapper">
                <h4 class="asset__title">Our Fonts</h4>
                <div class="asset__description">
                    {{ page['Our Fonts Text'] | markdownify }}
                </div>
            </div>

            <div class="asset__type-wrapper">
                <h6 class="type-specimen__descriptor"><span class="type-specimen__name">Brandon Text
                        Bold</span>Context-giving titles that precede high level
                    headings
                </h6>
                <p class="type-specimen__display eyebrow">Our Partnership</p>

                <h6 class="type-specimen__descriptor"><span class="type-specimen__name">League Gothic</span>High
                    level headings</h6>
                <p class="type-specimen__display leaguegothic">Rethinking<br>What’s Possible</p>

                <h6 class="type-specimen__descriptor"><span class="type-specimen__name">Brandon Text Bold</span>Low
                    level headings and paragraphs meant to be
                    emphasized
                </h6>
                <p class="type-specimen__display bold">For more than 15 years, INK has helped B2B marketers move
                    beyond what’s predictable by rethinking what’s possible.</p>

                <h6 class="type-specimen__descriptor"><span class="type-specimen__name">Brandon Text Regular</span>
                    Body copy</h6>
                <p class="type-specimen__display">We’re a mix of left and right brain thinkers who thrive on
                    problem-solving and new ideas. We ask the right questions and we don’t wait on your call to get
                    things done. Our best work draws from the collective strength of our team to form integrated
                    communications programs.</p>
            </div>
        </li>
        <li class="asset">
            <h4 class="asset__title">Legibility Guidelines</h4>
            <ul class="bulleted-list">
                <li>
                    <strong>Font size: </strong>Refer to the medium-specific typography scales below when choosing the
                    font sizes for your collateral. Through testing, we've found that these values work in most normal
                    instances; however, your specific use case may require different font sizes and that is okay.
                </li>
                <li>
                    <strong>Line height: </strong>{{ page['Readability Guidelines']['Line height'] }}
                </li>
                <li>
                    <strong>Line length: </strong>{{ page['Readability Guidelines']['Line length'] }}
                </li>
                <li>
                    <strong>Text alignment: </strong>{{ page['Readability Guidelines']['Text alignment'] }}
                </li>
                <li>
                    <strong>Font weight: </strong>{{ page['Readability Guidelines']['Font weight'] }}
                </li>
            </ul>
        </li>

        <li class="asset">
            <h4 class="asset__title">Powerpoint Typography Scale</h4>
            <table>
                <thead>
                    <tr>
                        <th>Type Style</th>
                        <th>Font Family</th>
                        <th>Font Size</th>
                        <th>Line Height</th>
                        <th>Text Transform</th>
                        <th>Letter Spacing</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Heading XXL</td>
                        <td>League Gothic</td>
                        <td>60pt</td>
                        <td>0.8</td>
                        <td>Uppercase</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Heading XL</td>
                        <td>League Gothic</td>
                        <td>44pt</td>
                        <td>0.8</td>
                        <td>Uppercase</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Heading LG</td>
                        <td>League Gothic</td>
                        <td>32pt</td>
                        <td>0.8</td>
                        <td>Uppercase</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Heading MD</td>
                        <td>League Gothic</td>
                        <td>24pt</td>
                        <td>0.8</td>
                        <td>Uppercase</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Eyebrow Title</td>
                        <td>Brandon Text Bold</td>
                        <td>14pt</td>
                        <td>1</td>
                        <td>Uppercase</td>
                        <td>0.7</td>
                    </tr>
                    <tr>
                        <td>Paragraph Heading</td>
                        <td>Brandon Text</td>
                        <td>20pt, 16pt, 12pt</td>
                        <td>1.125</td>
                        <td>---</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Body Copy</td>
                        <td>Brandon Text</td>
                        <td>20pt, 16pt, 12pt</td>
                        <td>1.125</td>
                        <td>---</td>
                        <td>---</td>
                    </tr>
                </tbody>
            </table>
        </li>
        <li class="asset ">
            <div class="asset__title-wrapper">
                <h4 class="asset__title">Web Typography Scale</h4>
                <p class="asset__meta"> (1rem = 10px)</p>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Type Style</th>
                        <th>Font Family</th>
                        <th>Font Size</th>
                        <th>Line Height</th>
                        <th>Text Transform</th>
                        <th>Letter Spacing</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Heading XXL</td>
                        <td>League Gothic</td>
                        <td>16rem</td>
                        <td>0.9</td>
                        <td>Uppercase</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Heading XL</td>
                        <td>League Gothic</td>
                        <td>8rem</td>
                        <td>0.9</td>
                        <td>Uppercase</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Heading LG</td>
                        <td>League Gothic</td>
                        <td>4rem</td>
                        <td>0.9</td>
                        <td>Uppercase</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Heading MD</td>
                        <td>League Gothic</td>
                        <td>2.7rem</td>
                        <td>0.9</td>
                        <td>Uppercase</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Eyebrow Title</td>
                        <td>Brandon Text Bold</td>
                        <td>1.6rem</td>
                        <td>1.3</td>
                        <td>Uppercase</td>
                        <td>.05em</td>
                    </tr>
                    <tr>
                        <td>Paragraph Heading</td>
                        <td>Brandon Text</td>
                        <td>2rem</td>
                        <td>1.5</td>
                        <td>---</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Body Copy</td>
                        <td>Brandon Text</td>
                        <td>1.8rem</td>
                        <td>1.5</td>
                        <td>---</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Small Text</td>
                        <td>Brandon Text</td>
                        <td>1.5rem</td>
                        <td>1.3</td>
                        <td>---</td>
                        <td>---</td>
                    </tr>
                </tbody>
            </table>
        </li>
        <li class="asset ">
            <div class="asset__title-wrapper">
                <h4 class="asset__title">WIP Print Typography Scale</h4>
                <p class="asset__meta">(Applies primarily to letter-sized paper)</p>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Type Style</th>
                        <th>Font Family</th>
                        <th>Font Size</th>
                        <th>Line Height</th>
                        <th>Text Transform</th>
                        <th>Letter Spacing</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Heading XXL</td>
                        <td>League Gothic</td>
                        <td>60pt</td>
                        <td>54pt</td>
                        <td>Uppercase</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Heading XL</td>
                        <td>League Gothic</td>
                        <td>45pt</td>
                        <td>40.5pt</td>
                        <td>Uppercase</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Heading LG</td>
                        <td>League Gothic</td>
                        <td>31.5pt</td>
                        <td>28.35pt</td>
                        <td>Uppercase</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Heading MD</td>
                        <td>League Gothic</td>
                        <td>22.5pt</td>
                        <td>20.25pt</td>
                        <td>Uppercase</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Eyebrow Title</td>
                        <td>Brandon Text Bold</td>
                        <td>8pt</td>
                        <td>10.4pt</td>
                        <td>Uppercase</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>Paragraph Heading</td>
                        <td>Brandon Text</td>
                        <td>10pt</td>
                        <td>15pt</td>
                        <td>---</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Body Copy</td>
                        <td>Brandon Text</td>
                        <td>9pt</td>
                        <td>13.5pt</td>
                        <td>---</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Small Text</td>
                        <td>Brandon Text</td>
                        <td>1.5rem</td>
                        <td>1.3</td>
                        <td>---</td>
                        <td>---</td>
                    </tr>
                </tbody>
            </table>
        </li>
    </ul>
</section>