.asset__type-wrapper {
    display: grid;
    column-gap: var(--space-double);
    row-gap: var(--space-default);
    @include stack-exception(var(--space-quad));



    @include breakpoint(sm) {
        grid-template-columns: 1fr 2fr;
        .type-specimen__descriptor {
            margin-top: var(--space-half);
        }
    }
}

.type-specimen__descriptor {
    @include body-copy-small;
    color: var(--neutral-400);

    * + & {
        border-top: 1px solid var(--neutral-300);
        padding-top: var(--space-double);
    }


    @include breakpoint(sm) {
        border-top: 1px solid var(--neutral-300);
        padding-top: var(--space-quart);
        padding-right: var(--space-double);

        * + & {
            padding-top: var(--space-default);
        }
    }
}

.type-specimen__name {
    display: block;
    font-weight: 700;
    color: var(--neutral-500);
}

.type-specimen__display {
    &.leaguegothic {
        @include leaguegothic;
        font-size: var(--type-xxl);

        @include breakpoint(sm) {
            @include green-bar;
        }
    }

    &.eyebrow {
        @include eyebrow-title;
        color: var(--green-500);
    }

    &.bold {
        font-weight: 700;
    }

    @include breakpoint(sm) {
        border-top: none;
    }
}