.asset__switcher--logo {
    & > * > *:first-child {
        flex-grow: 2;
    }
}

.asset__logo-buttons {
    display: flex;
    flex-direction: column;
    @include stack;
}

.asset__logo-button-wrapper {
    display: flex;
    > * + * {
        margin-left: var(--space-default);
    }
}

.asset__clear-space {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    gap: var(--space-double);

    @include breakpoint(md) {
        grid-template-columns: 1fr 2fr;
        gap: var(--space-quad);
    }
}

.asset > .asset__clear-space + .asset__clear-space {
    @include stack-exception(var(--space-quad));
}

.asset__clear-space-text {
    @include stack;
}

.asset__clear-space-img {
    width: 100%;
    max-width: 50rem;
}