.asset__switcher--illustration {
    & > * > *:first-child {
        flex-grow: 1.5;
    }
}

.asset__reel-wrapper { 
    @include stack;
}

.asset__reel--spot {
    & >*+* {
        --space: var(--space-double-to-quad);
    }
    $map: (50rem: 14rem, 150rem: 25rem);
    @include poly-fluid-sizing('height', $map);
}

.asset__reel--scene {
    $map: (50rem: 17rem, 150rem: 35rem);
    @include poly-fluid-sizing('height', $map);
}

.asset__illustration-texture-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    
        > * + * {
            margin-top: var(--space-default);
        }
        
        @include breakpoint(md) {
            flex-direction: row;
    
            > * + * {
                margin-top: 0;
                margin-left: var(--space-quad);
            }
        }
}

.illustration__texture-content {
    @include stack(var(--space-double));
}