.asset__type-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: var(--space-double);
    row-gap: var(--space-default);

    .type-specimen__descriptor {
        margin-top: var(--space-half);
    }
}

.type-specimen__descriptor {
    @include body-copy-small;
    color: var(--neutral-400);
    border-top: 1px solid var(--neutral-500);
    padding-top: var(--space-quart);
    padding-right: var(--space-double);
}

.type-specimen__name {
    display: block;
    font-weight: 700;
    color: var(--neutral-100);
}

.type-specimen__display {
    &.leaguegothic {
        @include leaguegothic;
        font-size: var(--type-xxl);
        @include green-bar;
    }

    &.eyebrow {
        @include eyebrow-title;
        color: var(--green-400);
    }

    &.bold {
        font-weight: 700;
    }
}


table {
    display: block;
    width: 100%;
    overflow: auto;
    border-color: var(--neutral-600);
    @include body-copy-small;
    @include mono;
    -webkit-overflow-scrolling: touch;
}

th {
    background-color: var( --neutral-800);
    text-align: left;
    font-size: var(--type-xxs);
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;
    line-height: var(--lh-sm);
}

tr {
    background-color: var(--neutral-800);
    border-top: 1px solid var(--neutral-600);

}

tr:nth-child(2n-1) {
    background-color: var(--neutral-700);
}

td,th {
    padding:var(--space-half) var(--space-default);
    border: 1px solid var(--neutral-600);
    vertical-align: middle;
}