.article {
    max-width: 90rem;
    width: 100%;
    padding-top: var(--space-double);
    padding-bottom: var(--space-oct);
    @include stack(var(--space-double-to-quad));

    @include breakpoint(sm) {
        padding-bottom: var(--space-double);
    }

    $map: (50rem: 1.6rem, 150rem: 6.4rem);
    @include poly-fluid-sizing('padding-right', $map);

    $map: (50rem: 1.6rem, 150rem: 6.4rem);
    @include poly-fluid-sizing('padding-left', $map);
}

.article__content { //un-classable stuff from markdown
    @include stack;


    h4 {
        font-size: var(--type-md);
        @include stack-exception(var(--space-double), top);
    }

    hr,
    section {
        @include stack-exception(var(--space-double-to-quad));
    }
}

.article__title {
    @include leaguegothic;
    font-size: var(--type-xxl);
    @include green-bar;
}