.article {
    max-width: 90rem;
    width: 100%;
    padding-top: var(--space-double);
    padding-bottom: var(--space-quad);
    --space: var(--space-quad);


    $map: (50rem: 1.6rem, 150rem: 6.4rem);
    @include poly-fluid-sizing('padding-right', $map);

    $map: (50rem: 1.6rem, 150rem: 6.4rem);
    @include poly-fluid-sizing('padding-left', $map);

    @include breakpoint(sm) {
        padding-bottom: var(--space-double);
    }

}

.article__content {
    --space-nested: var(--space-default);
    h1,
    h1 + * {
        --space-nested: var(--space-double);
    }

    hr,
    hr + * {
        $map: (50rem: 3.2rem, 150rem: 6.4rem);
        @include poly-fluid-sizing('--space-nested', $map);
    }

    h4 {
        @include large-text;
        &:last-of-type {
            $map: (50rem: 3.2rem, 150rem: 6.4rem);
            @include poly-fluid-sizing('--space-nested', $map);
        }
    }

    section,
    section + * {
        --space-nested: var(--space-quad);
    }

    > ul {
        list-style: initial;
        padding-left: calc(var(--space-default) + var(--space-half));

        & > * > * {
            padding-right: var(--space-double);
        }

        & > * + * {
            margin-top: var(--space-default);
        }
    }
}