* + .asset-section {
    border-top: 1px solid var(--neutral-200);
    padding-top: var(--space); 
}

.assets {
    @include stack(var(--space-double-to-quad));
}

.asset {
    @include stack(var(--space-double));
    &+& {
        border-top: 1px solid var(--neutral-200);
        padding-top: var(--space);
    }

    &>.bulleted-list {
        @include stack-exception(var(--space-default), top);
    }
}

.asset__title-wrapper {
    @include stack;
}

.asset__title {
    font-weight: 700;
}

div.asset__description {
    @include stack;
}

.asset__meta {
    color: var(--neutral-400);
    @include mono;
    @include body-copy-small;
}