.asset__logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    > * + * {
        margin-top: var(--space-quad);
    }
    
    @include breakpoint(md) {
        align-items: center;
        flex-direction: row;

        > * + * {
            margin-top: 0;
            margin-left: var(--space-double);
        }
    }
}

.asset__logo {
    width: 100%;
    max-width: 30rem;
}

.asset__logo-button-wrapper {
    display: flex;
    > * + * {
        margin-left: var(--space-default);
    }
}

.asset__clear-space-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-double);

    @include breakpoint(md) {
        grid-template-columns: 1fr 2fr;
        gap: var(--space-quad);
    }
}

.asset__clear-space-img {
    width: 100%;
    max-width: 50rem;
}