.assets {
    --space: var(--space-quad);
}

.asset {
    --space: var(--space-quad);

    & > * {
        --space: var(--space-double);
    }
}

.asset--divided {
        padding-top: var(--space-quad);
        border-top: 1px solid var(--neutral-89);
    
}

.asset__title-wrapper {
    display: flex;
    align-items: center;
    & > * + * {
        margin-left: var(--space-default);
    }
}

.asset__title {
    font-weight: 700;
}

.asset__meta {
    color: var(--neutral-49);
    @include mono;
    @include small-text;
}