* + .asset-section {
    border-top: 1px solid var(--neutral-600);
    padding-top: var(--space); 
}

.assets {
    @include stack(var(--space-double-to-quad));
}

.asset {
    @include stack(var(--space-double));
    &+& {
        border-top: 1px solid var(--neutral-600);
        padding-top: var(--space);
    }

    > ul {
        list-style: initial;
        --subtracted-space: calc(var(--space-default) + var(--space-half));
        padding-left: var(--subtracted-space);
        @include stack;
        max-width: calc(var(--measure) - var(--subtracted-space));
    }
}

.asset__title-wrapper {
    @include stack(var(--space-half));
}

.asset__title {
    font-weight: 700;
}

.asset__description {
    color: var(--neutral-400);
}

div.asset__description {
    @include stack;
}

.asset__meta {
    color: var(--neutral-400);
    @include mono;
    @include body-copy-small;
}