.asset__type-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: var(--space-double);
    row-gap: var(--space-default);

    .type-specimen__descriptor {
        margin-top: var(--space-half);
    }
}

.type-specimen__descriptor {
    @include small-text;
    color: var(--color-text-light);
    border-top: 1px solid var(--neutral-69);
    padding-top: var(--space-quart);
    padding-right: var(--space-double);
}

.type-specimen__name {
    display: block;
    font-weight: 700;
    color: var(--color-text-default);
}

.type-specimen__display {
    &.leaguegothic {
        @include leaguegothic;
        @include page-headline;
        @include green-bar;
    }

    &.eyebrow {
        @include tracked-text;
        color: var(--color-text-highlight);
    }

    &.bold {
        font-weight: 700;
    }
}


table {
    display: block;
    width: 100%;
    overflow: auto;
    border-color: var(--neutral-89);
    @include small-text;
    @include mono;
}

th {
    @include tracked-text;
    background-color: var( --neutral-100);
    text-align: left;
    font-size: var(--type-xxs);
}

tr {
    background-color: var(--neutral-100);
    border-top: 1px solid var(--neutral-89);

}

tr:nth-child(2n-1) {
    background-color: var(--neutral-97);
}

td,th {
    padding:var(--space-half) var(--space-default);
    border: 1px solid var(--neutral-89);
    vertical-align: middle;
}