.asset__color-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: var(--space-default);
}

.asset__color-wrapper--auxiliary {
    grid-template-columns: repeat(2, minmax(15rem, 1fr)); 

    @include breakpoint(sm) {
        grid-template-columns: repeat(3, minmax(19rem, 1fr)); 
  
    }
}
