body {

    & .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        overflow-y: auto;
        transition: var(--easing) var(--timing);
        z-index: 2;
        transform: translateX(-100%);

        @include breakpoint(lg) {
            transform: translateX(0);
        }
    }

    & .main{
        margin-left: 0;
        flex-grow: 1;

        @include breakpoint(lg) {
            margin-left: var(--space-sex);
        }
    }    

    & .fab {
        z-index: 3;
        position: fixed;
        bottom: var(--space-default);
        right: var(--space-default);

        @include breakpoint(sm) {
            position: sticky;
            top: 0;
            left: 0;
            z-index: 2;
        }

        @include breakpoint(lg) {
            display: none;
        }
    }
}

html {
    &[data-open] {
        overflow: hidden;
        pointer-events: none;
        height: 100%;
        // position: fixed;

        body {
            overflow: hidden;
            pointer-events: none;
            // height: 100%;
            // position: fixed;
            width: 100%;
        }

        .sidebar{
            transform: translateX(0);
            pointer-events: all;
        }

        .sidebar__close {
            visibility: visible;
            opacity: 1;
        }

        .fab {
            pointer-events: all;
        }

        .sidebar__close {
            pointer-events: all;
        }
    }
}