body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    & > .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        overflow-y: auto;
        transition: var(--easing) var(--timing);
        z-index: 2;
        transform: translateX(-100%);

        @include breakpoint(lg) {
            transform: translateX(0);
        }
    }

    & > .main{
        margin-left: 0;
        flex-grow: 1;

        @include breakpoint(lg) {
            margin-left: var(--space-sex);
        }
    }    

    & > .navbar {
        display: flex;
        z-index: 1;
        position: sticky;
        top: 0;

        @include breakpoint(lg) {
            display: none;
        }
    }

    &[data-open] {
        overflow-y: hidden;
        pointer-events: none;

        .sidebar{
            transform: translateX(0);
            pointer-events: all;
        }

        .navbar {
            pointer-events: all;
        }
    }
}

