button {
    cursor: pointer;
}

.button {
    display: block;
    background: none;
    border: none;
    text-align: center;
    padding: 0;
    @include mono;
    font-size: var(--type-xs);
    border: 1px solid var(--neutral-500);
    border-radius: 4px;
    padding: 1em 1.5em;
    color: var(--neutral-400);
    cursor: pointer;
    transition: var(--timing) var(--easing);
    background: var(--neutral-800);
    &:hover,
    &:focus {
        background-color: var(--neutral-100);
        border-color: var(--neutral-100);
        color: var(--neutral-800);
    }
}

.hidden {
    position: fixed;
    bottom: 0;
    right: 0;
    pointer-events: none;
    opacity: 0;
    transform: scale(0);
    margin: 0;
}