.fab {
    display: flex;
    justify-content: flex-end;
    padding: var(--space-default);
    border-radius: 50%;
    background-color: var(--green-42);
    box-shadow: var(--box-shadow-large);

    $map: (500px: 16px, 1500px: 64px);
    @include poly-fluid-sizing('padding-right', $map);

    $map: (500px: 16px, 1500px: 64px);
    @include poly-fluid-sizing('padding-left', $map);
}

.fab__button {
    background: none;
    border: none;
    @include mono;
    font-size: var(--type-xs);
    display: flex;
    align-items: center;  
    transition: opacity var(--timing) var(--easing);
    padding: 0;

    .fab__button-icon.close {
        display: none;
    }
}

[data-open]{
    .fab__button-icon.close {
        display: block;
    }

    .fab__button-icon.open {
        display: none;
    }
}

.fab__button-icon {
    width: 2.4rem;
    height: 2.4rem;
    color: var(--neutral-100);
}