@font-face {
    font-family: BrandonText;
    font-weight: 400;
    src: url(/assets/fonts/BrandonText-Regular.woff);
}

@font-face {
    font-family: BrandonText;
    font-weight: 700;
    src: url(/assets/fonts/BrandonText-Bold.woff);
}

@font-face {
    font-family: LeagueGothic;
    font-weight: 400;
    src: url(/assets/fonts/LeagueGothic.woff);
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap');