body.home {
    .main {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100%;
    }
}

.homepage__wrapper {
    display: flex;
    flex-direction: column-reverse;
    max-width: 90em;
    align-items: center;
    justify-content: center;

    & > * {
        flex: 0 1 50%;
    }

    & > * + * {
        margin-bottom: var(--space-double);
    }


    > .homepage__content {
        flex-basis: auto;
        @include breakpoint(md) {
            flex-basis: unset;
        }
    }

    @include breakpoint(md) {
        flex-direction: row;
        & > * + * {
            margin-left: var(--space-quad);
            margin-bottom: 0;
        }
    }
}



.homepage__image-wrapper { 

}

.homepage__eyebrow {
    @include tracked-text;
    font-size: var(--type-default);
    color: var(--color-text-highlight);
}

.homepage__title {
    @include leaguegothic;
    font-size: var(--type-xxxl);
    @include green-bar;
    max-width: 11ch;
}

.homepage__copy {
    @include large-text;
    font-size: var(--type-lg);
    max-width: calc(var(--measure) * .75);
}

 .homepage__contact {
     color: var(--neutral-49);
     width: 75%;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     --space: var(--space-quad);
     --space-nested: var(--space-double);
 }