body.home {
    .main {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
}

.homepage__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-content: stretch;
    grid-template-rows: 30rem auto;
    gap: var(--space-double) var(--space-quad); 
    max-width: 162rem;
    align-items: stretch;
    justify-content: center;

    @include breakpoint(md) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
}

.homepage__image-wrapper {
    grid-row: 1;
    @include breakpoint(md) {
        grid-column: 2;
    }
}

.homepage__image {
    object-fit: cover;
    object-position: left bottom;
    height: 100%;
    width: 100%;
}


.homepage__eyebrow {
    @include tracked-text;
    font-size: var(--type-default);
    color: var(--color-text-highlight);
}

.homepage__title {
    @include leaguegothic;
    font-size: var(--type-xxxl);
    @include green-bar;
    max-width: 11ch;
}

.homepage__copy {
    @include large-text;
    font-size: var(--type-lg);
    max-width: calc(var(--measure) * .75);
}

 .homepage__contact {
     color: var(--neutral-49);
     width: 75%;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     --space: var(--space-quad);
     --space-nested: var(--space-double);
 }