body.home {
    .main {
        display: flex;
        align-items: center;
    }
}

.homepage__wrapper {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;

    $map: (50rem: 3.2rem, 150rem: 6.4rem);
    @include poly-fluid-sizing('padding-top', $map);

    & > * {
        flex: 0 1 50%;
    }

    & > * + * {
        margin-left: var(--space-quad);
    }
    > .homepage__content {
        flex-basis: auto;
        @include breakpoint(md) {
            flex-basis: unset;
        }
    }
}



.homepage__image-wrapper { 
    display: none;

    @include breakpoint(md) {
        display: block;
    }
}

.homepage__eyebrow {
    @include tracked-text;
    font-size: var(--type-default);
    color: var(--color-text-highlight);
}

.homepage__title {
    @include leaguegothic;
    font-size: var(--type-xxxl);
    @include green-bar;
    max-width: 11ch;
    --space: var(--space-double);
}

.homepage__copy {
    @include large-text;
    font-size: var(--type-lg);
    max-width: calc(var(--measure) * .75);
}

 .homepage__contact {
     color: var(--neutral-49);
     width: 75%;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     --space: var(--space-quad);
     --space-nested: var(--space-double);
 }