.bulleted-list,
.article__content > ul  {
    list-style: initial;
    --subtracted-space: calc(var(--space-default) + var(--space-half));
    padding-left: var(--subtracted-space);
    @include stack;
    max-width: calc(var(--measure) - var(--subtracted-space));

    > li {
        @include stack();
        > ul {
            list-style: circle;
            margin-left: var(--subtracted-space);
        }
    }

}