@mixin absolute-fill {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin green-bar {
    position: relative;
    padding-bottom: 2rem;
    &::after {
        content: "";
        position: absolute;
        width: var(--space-double);
        $map: (50rem: 2.4rem, 150rem: 3.2rem);
        @include poly-fluid-sizing('width', $map);
        height: 3px;
        background-color: var(--green-400);
        bottom: 0;
        left: 0;
    }
}

@mixin stack($space: var(--space-default)) {
    & > * {
      margin-top: 0;
      margin-bottom: 0;
    }
    
    &>*+*{
      --space: #{$space};
      margin-top: var(--space);
    }
  }

  @mixin stack-exception($space) {
    &,
    & + * {
      --space: #{$space};
    }
  }

  @mixin switcher($space: var(--space-default), $threshold: 800px, $limit: 3 ) {
    & > * {
      display: flex;
      flex-wrap: wrap;
      margin: calc((#{$space} / 2) * -1);
    }
    
    & > * > * {
      flex-grow: 1;
      flex-basis: calc((#{$threshold} - (100% - #{$space})) * 999);
      margin: calc(#{$space} / 2);
    }
    
    & > * > :nth-last-child(n+#{$limit}),
    & > * > :nth-last-child(n+#{$limit}) ~ * {
      flex-basis: 100%;
    }
  }