@mixin absolute-fill {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin green-bar($length-multiplier: 1) {
    position: relative;
    padding-bottom: 2rem;
    &::after {
        content: "";
        position: absolute;
        width: calc(var(--space-double) * #{$length-multiplier});
        height: 3px;
        background-color: var(--green-42);
        bottom: 0;
        left: 0;
    }
}