@mixin absolute-fill {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin green-bar {
    position: relative;
    padding-bottom: 2rem;
    &::after {
        content: "";
        position: absolute;
        width: var(--space-double);
        $map: (50rem: 2.4rem, 150rem: 3.2rem);
        @include poly-fluid-sizing('width', $map);
        height: 3px;
        background-color: var(--green-500);
        bottom: 0;
        left: 0;
    }
}

@mixin stack($space: var(--space-default)) {
    & > * {
      margin-top: 0;
      margin-bottom: 0;
    }
    
    &>*+*{
      --space: #{$space};
      margin-top: var(--space);
    }
  }

  @mixin stack-exception($space, $sides: 'both') {
    @if $sides == "both" {
      &,
      & + * {
        --space: #{$space};
      }
    }

    @if $sides == "top" {
      & {
        --space: #{$space};
      }
    }

    @if $sides == "bottom" {
      & + * {
        --space: #{$space};
      }
    }
  }




  @mixin switcher($threshold, $gap: var(--space-default), $limit: 2) {
    --threshold: #{$threshold};
    --gap: #{$gap};
    --limit: calc(#{$limit} + 1);

    &>* {
        display: flex;
        flex-wrap: wrap;
        margin: calc((var(--gap) / 2) * -1);
    }

    &>*>* {
        flex-grow: 1;
        flex-basis: calc((var(--threshold) - (100% - var(--gap))) * 999);
        margin: calc(var(--gap) / 2);
    }

    &>*> :nth-last-child(n+3),
    &>*> :nth-last-child(n+3)~* {
        flex-basis: 100%;
    }
}


  @mixin reel($space: var(--space-default)) {
    display: flex;
    height: auto;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scrollbar-color: var(--neutral-200) var(--neutral-000);
    padding-bottom: 1rem;
  
  &::-webkit-scrollbar {
    height: 1rem;
  }
  
  &::-webkit-scrollbar-track {
    background-color: var(--neutral-000);
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: var(--neutral-000);
    background-image: linear-gradient(var(--neutral-000) 0, var(--neutral-000) 0.25rem, var(--neutral-200) 0.25rem, var(--neutral-200) 0.75rem, var(--neutral-000) 0.75rem);
  }
  
  & > * {
    flex: 0 0 undefined;
  }
  
  
  & > img {
    height: 100%;
    flex-basis: auto;
    width: auto;
    max-width: unset;
  }
  
  & > * + * {
    --space: #{$space};
    margin-left: var(--space);
  }
}