.navbar {
    display: flex;
    justify-content: flex-end;
    padding-top: var(--space-default);
    padding-right: var(--space-double);
    padding-bottom: var(--space-default);
    padding-left: var(--space-double);
    background-color: var(--neutral-100);
    box-shadow: var(--box-shadow);

    $map: (500px: 16px, 1500px: 64px);
    @include poly-fluid-sizing('padding-right', $map);

    $map: (500px: 16px, 1500px: 64px);
    @include poly-fluid-sizing('padding-left', $map);
}

.navbar__button {
    background: none;
    border: none;
    @include mono;
    font-size: var(--type-xs);
    display: flex;
    align-items: center;
    transition: opacity var(--timing) var(--easing);
    padding: 0;

    .navbar__button-icon-close {
        display: none;
    }
}

[data-open]{
    .navbar__button-icon-close {
        display: block;
    }

    .navbar__button-icon-open {
        display: none;
    }
}