.sidebar {
    width: var(--space-sex);
    padding: var(--space-double);
    border-right: 1px solid var(--neutral-89);
    background-color: var(--neutral-100);

    > * + * {
        margin-top: var(--space-quad);
    }
}

.sidebar__logo-mark {
    max-height: var(--space-double);
}

.sidebar__nav {
    > * + * {
        margin-top: var(--space-quad);
    }
}

.sidebar__collections {
    > *+* {
        margin-top: 2.4rem;
    }
}

.sidebar__collection__title {
    @include tracked-text;
}

.sidebar__collection {
    > * + * {
        margin-top: 2.4rem;
    }
}

.sidebar__link {
    color: var(--color-text-light);
    &:hover,
    &:focus {
        color: var(--color-text-highlight);
    }

    &::before {
        opacity: 0;
        position: absolute;
        content: '';
        width: 5px;
        height: 150%;
        background-color: var(--green-42);
        top: 50%;
        left: calc(-1 * var(--space-double) + 5px);
        transform: translate(-100%, -50%);
    }

    &[data-active] {
        color: var(--color-text-highlight);
        position: relative;

        &::before { 
            opacity: 1;
        }
    }
}

.sidebar__logo {
    display: block;
    color: var(--color-text-default);

    &:hover {
        color: var(--color-text-default);
    }

    @include green-bar;
}

.sidebar__logo-text {
    @include leaguegothic;
    font-size: var(--type-xl);
}