  // [class^='stack'] > * {
  //   margin-top: 0;
  //   margin-bottom: 0;
  // }
  
  // .stack > * + * {
  //   --space: var(--space-default);
  //   margin-top: var(--space);
  // }

@mixin stack {
  & > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  & > * + * {
    --space: var(--space-default);
    margin-top: var(--space);
  }

}