table {
    width: 100%;
    overflow: auto;
    border-color: var(--neutral-200);
    @include body-copy-small;
    @include mono;
    -webkit-overflow-scrolling: touch;
}

th {
    background-color: var( --neutral-000);
    text-align: left;
    font-size: var(--type-xxs);
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;
    line-height: var(--lh-sm);
}

tr {
    background-color: var(--neutral-000);
    border-top: 1px solid var(--neutral-200);

}

tr:nth-child(2n-1) {
    background-color: var(--neutral-100);
}

td,th {
    padding:var(--space-half) var(--space-default);
    border: 1px solid var(--neutral-200);
    vertical-align: middle;
}