html {
    font-family: BrandonText, sans-serif;
}

body {
    line-height: var(--lh-default);
    font-size: var(--type-default);
}

p,
figcaption,
hr,h1,h2,h3,h4,h5,h6 {
    max-width: var(--measure);
  }

b, strong {
    font-weight: 700;
}


@mixin leaguegothic {
    font-family: LeagueGothic;
    font-weight: 400;
    text-transform: uppercase;
    line-height: var(--lh-title);
}

@mixin mono {
    font-family: 'Roboto Mono', monospace;
}

@mixin tracked-text {
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: var(--type-sm);
    line-height: var(--lh-sm);
}

@mixin small-text {
    font-size: var(--type-xs);
    line-height: var(--lh-sm);
}

@mixin large-text {
    font-size: var(--type-md);
    line-height: var(--lh-sm);
}

@mixin page-headline {
    font-size: var(--type-xxl);
}