html {
    font-family: BrandonText, sans-serif;
}


@mixin leaguegothic {
    font-family: LeagueGothic;
    font-weight: 400;
    text-transform: uppercase;
    line-height: var(--lh-title);
}

@mixin mono {
    font-family: 'Roboto Mono', monospace;
}

@mixin eyebrow-title {
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: var(--type-sm);
    line-height: var(--lh-sm);
}

@mixin body-copy {
    line-height: var(--lh-default);
    font-size: var(--type-default);
}

@mixin body-copy-small {
    font-size: var(--type-xs);
    line-height: var(--lh-sm);
}


body {
    @include body-copy;
}

p,
figcaption,
hr,h1,h2,h3,h4,h5,h6 {
    max-width: var(--measure);
  }

b, strong {
    font-weight: 700;
}