<li class="color-block__wrapper  ">
    {% if include.style == 'button' %}
    <button class="color-block__block {{include.size}}" style="--background-color: var(--{{include.color}});"
        data-clipboard-text="{{include.hex}}">
        <span class="color-block__copy">Copy HEX</span>
    </button>
    {% else %}
    <div class="color-block__block {{include.size}}  {{include.pattern}}"
        style="--background-color: var(--{{include.color}});">
    </div>
    {% endif %}
    {% if include.name %}
    <p class="color-block__name">{{include.name}}</p>
    {% endif %}
    {% if include.hex %}
    <h6 class="color-block__hex">{{include.hex}}</h6>
    {% endif %}
    {% if include.description %}
    <p class="color-block__description">{{include.description}}</p>
    {% endif %}
</li>