<li class="example stack">
    <div class="example__aspect-ratio">
        <div class="example__image" style="background-image: url(/assets/img/{{include.image}})"></div>
    </div>
    <div class="example__description-wrapper">
        {% if {{include.type == 'good'}} %}
        <svg class="example__icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="12" r="12" fill="#D1EDDF" />
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M17.6603 9.22324L10.4076 16.5619L6.3396 12.4456L7.76212 11.0398L10.4076 13.7166L16.2378 7.81738L17.6603 9.22324Z"
                fill="#23B280" />
        </svg>

        {% else if {{include.type == 'bad'}} %}
        <svg class="example__icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="12" r="12" fill="#FCD9E3" />
            <path
                d="M10.5857 12.0001L7.29285 15.293L8.70706 16.7072L12 13.4143L15.2928 16.7072L16.7071 15.293L13.4142 12.0001L16.7071 8.70718L15.2928 7.29297L12 10.5859L8.70706 7.29297L7.29285 8.70718L10.5857 12.0001Z"
                fill="#D75A6A" />
        </svg>

        {% endif %}
        <p class="example__description">
            {{ include.description }}
        </p>
    </div>
</li>