.sidebar {
    display: flex;
    flex-direction: column;
    width: var(--space-sex);
    border-right: 1px solid var(--neutral-200);
    background-color: var(--neutral-000);
    -webkit-overflow-scrolling: touch;
    $map: (50rem: 2.4rem, 150rem: 3.2rem);
    @include poly-fluid-sizing('--sidebar-padding', $map);
}

.sidebar__logo-mark {
    max-height: var(--space-double);
}

.sidebar__nav {
    padding-left: var(--sidebar-padding);
    padding-right: var(--sidebar-padding);
    padding-top: var(--space-double);
    padding-bottom: var(--space-double-to-quad);
    @include stack(var(--space-double));
}

.sidebar__collections {
    @include stack(var(--space-default));
    &+& {
        padding-top: var(--space-double);
        border-top: 1px solid var(--neutral-200);
    }
}

.sidebar__collection__title {
    @include eyebrow-title;
}
ç
.sidebar__collection {
    @include stack(var(--space-half));
}

.sidebar__link {
    color: var(--neutral-400);
    display: block;
    &:hover,
    &:focus {
        color: var(--green-500);
    }

    &::before {
        opacity: 0;
        position: absolute;
        content: '';
        width: 5px;
        height: 150%;
        background-color: var(--green-500);
        top: 50%;
        left: calc(-1 * var(--sidebar-padding));
        transform: translateY(-50%);
    }

    &[data-active] {
        color: var(--green-500);
        position: relative;

        &::before { 
            opacity: 1;
        }
    }
}

.sidebar__logo {
    display: block;
    color: var(--neutral-500);
    @include stack;
    padding: var(--sidebar-padding);
    background-color: var(--neutral-000);
    position: sticky;
    top: 0;
    left: 0;

    &:hover {
        color: var(--neutral-500);
    }
}

.sidebar__logo-text {
    @include leaguegothic;
    font-size: var(--type-xl);
    @include green-bar;
}

.sidebar__bottom-nav {
    margin-top: auto;
    border-top: 1px solid var(--neutral-200);
    padding-top: var(--space-default);
    padding-bottom: var(--space-default);
    padding-left: var(--sidebar-padding);
    padding-right: var(--sidebar-padding);
}

.sidebar__close {
    transition: opacity var(--easing) var(--timing);
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    cursor: default;
}