button {
    cursor: pointer;
}

.button {
    display: block;
    background: none;
    text-align: center;
    @include mono;
    font-size: var(--type-xs);
    border: 1px solid var(--neutral-300);
    border-radius: 4px;
    padding: 1em 1.5em;
    color: var(--neutral-400);
    cursor: pointer;
    transition: var(--timing) var(--easing);
    background: var(--neutral-000);
    &:hover,
    &:focus {
        background-color: var(--neutral-500);
        border-color: var(--neutral-500);
        color: var(--neutral-000);
    }
}

.hidden {
    position: fixed;
    bottom: 0;
    right: 0;
    pointer-events: none;
    opacity: 0;
    transform: scale(0);
    margin: 0;
}


//multi option buttons

.button-options {
    padding: 0;
    overflow: hidden;
    position: relative;
    transition: var(--timing) var(--easing);

    &:hover,
    &:focus-within {
        background-color: var(--neutral-000);
        border-color: var(--neutral-400);
        color: var(--neutral-400);

        .button-options__option-wrapper {
            transform: none;
        }

        .button-options__span {
            transform: translateY(-100%);
        }
    }



    .button-options__option-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        transform: translateY(100%);
        display: flex;
        min-width: 100%;
    }
}

.button-options__span {
    display: block;
    padding: 1em 1.5em;
    transform: none;
    transition: inherit;
}

.button-options__option {
    border-radius: 0;
    border: none;
}

.button-options__option-wrapper {
    display: flex;
    transition: inherit;
    &>* {
        flex-grow: 1;
    }
    &>*+* {
        border-left: 1px solid var(--neutral-400);
    }
}

