.fab {
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    background-color: var(--green-500);
    box-shadow: var(--box-shadow-large);
    overflow: hidden;

    @include breakpoint(sm) {
    border-radius: 0;
    background-color: var(--neutral-000);
    box-shadow: var(--box-shadow);
    padding: var(--space-default);
    }
}

.fab__logo {
    display: none;
    height: var(--space-double);
    width: auto;

    @include breakpoint(sm) {
        display: block;
    }
}

.fab__button {
    background: none;
    border: none;
    @include mono;
    font-size: var(--type-xs);
    display: flex;
    align-items: center;  
    transition: opacity var(--timing) var(--easing);
    padding: 0;
    padding: var(--space-default);


    .fab__button-icon.close {
        display: none;
    }
}

[data-open]{
    .fab__button-icon.close {
        display: block;
    }

    .fab__button-icon.open {
        display: none;
    }
}

.fab__button-icon {
    width: 2.4rem;
    height: 2.4rem;
    color: var(--neutral-000);

    @include breakpoint(sm) {
        color: var(--neutral-500);
        width: unset;
        height: unset;
    }
}