.sidebar {
    display: flex;
    flex-direction: column;
    width: var(--space-sex);
    border-right: 1px solid var(--neutral-600);
    background-color: var(--neutral-800);
    -webkit-overflow-scrolling: touch;
    padding-top: var(--space-double);
    padding-bottom: var(--space-default);

    @include stack(var(--space-quad));
}

.sidebar__logo-mark {
    max-height: var(--space-double);
}

.sidebar__nav {
    padding-left: var(--space-double);
    padding-right: var(--space-double);
    padding-bottom: var(--space-double);
    @include stack(var(--space-quad));
}

.sidebar__collections {
    @include stack(var(--space-double));

}

.sidebar__collection__title {
    @include eyebrow-title;
}

.sidebar__collection {
    @include stack(var(--space-default));
}

.sidebar__link {
    color: var(--neutral-400);
    &:hover,
    &:focus {
        color: var(--green-400);
    }

    &::before {
        opacity: 0;
        position: absolute;
        content: '';
        width: 5px;
        height: 150%;
        background-color: var(--green-400);
        top: 50%;
        left: calc(-1 * var(--space-double) + 5px);
        transform: translate(-100%, -50%);
    }

    &[data-active] {
        color: var(--green-400);
        position: relative;

        &::before { 
            opacity: 1;
        }
    }
}

.sidebar__logo {
    display: block;
    color: var(--neutral-100);
    @include stack;
    padding-left: var(--space-double);
    padding-right: var(--space-double);

    &:hover {
        color: var(--neutral-100);
    }
}

.sidebar__logo-text {
    @include leaguegothic;
    font-size: var(--type-xl);
    @include green-bar;
}

.sidebar__bottom-nav {
    margin-top: auto;
    border-top: 1px solid var(--neutral-600);
    padding-top: var(--space-default);
    padding-left: var(--space-double);
    padding-right: var(--space-double);
}