.asset__example-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: var(--space-quad);
}

.example {
    @include stack;
}

.example__aspect-ratio {
    position: relative;
    padding-bottom: 100%;
    box-shadow: var(--box-shadow);
}

.example__image {
    @include absolute-fill;
    background-size: cover;
    background-repeat: no-repeat;
}

.example__explanation-wrapper {
    display: flex;
    align-items: flex-start;
    & > * + * {
        margin-left: var(--space-default);
    }
}

.example__icon {
    height: var(--space-double);
    width: var(--space-double);
    flex: 0 0 auto;
}