<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page.title}} | {{site.title}}</title>
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="apple-touch-icon-precomposed" type="image/png" href="/favicon.png">
</head>

<body>
    <div data-barba="wrapper">
        {% include _components/fab.html %}
        <main class="main {{page.title | downcase | replace: " ", "-" }}" data-barba="container">
            <article class="article  ">
                <div class="article__title-bar">
                    <h1 class="article__title">{{page.title}}</h1>
                </div>
                <div class="article__content  ">
                    {{content}}
                </div>
            </article>
            <div>

            </div>
        </main>
        {% include _components/sidebar.html %}
    </div>
    <script src="https://unpkg.com/@barba/core"></script>
    <script src="/assets/js/clipboard.min.js"></script>
    <script src="/assets/js/color-copy.js"></script>
    <script src="/assets/js/navbar.js"></script>
    <script src="/assets/js/sidebar.js"></script>
    <script src="//instant.page/2.0.0" type="module" defer
        integrity="sha384-D7B5eODAUd397+f4zNFAVlnDNDtO1ppV8rPnfygILQXhqu3cUndgHvlcJR2Bhig8"></script>
</body>

</html>