---
regenerate: true
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page.title}} | {{site.title}}</title>
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="apple-touch-icon-precomposed" type="image/png" href="/favicon.png">
</head>

<body class="{{page.title | downcase | replace: " ", "-" }}">
    {% include _components/fab.html %}
    <main class="main">
        <article class="article homepage__wrapper">
            {{content}}
        </article>
    </main>
    {% include _components/sidebar.html %}

    <script src="/assets/js/navbar.js"></script>
</body>

</html>