<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page.title}} | {{site.title}}</title>
    <link rel="stylesheet" href="/assets/css/app.css">
</head>

<body class="{{page.title | downcase | replace: " ", "-" }}">
    {% include sidebar.html %}
    <main class="main">
        <!-- <header class="header">
            <h1 class="homepage__title">{{page.title}}</h1>
        </header> -->

        <article class="article homepage__wrapper">
            {{content}}
        </article>

    </main>
    <script src="/assets/js/button-copy.js"></script>
</body>

</html>